# <font color='red'> *실습* </font> 
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. 밸류들을 전부 곱한 값을 출력하는 코드를 만드세요. </font>

In [126]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}

In [127]:
my_dict['data1'] * my_dict['data2'] * my_dict['data3']

-1500000

In [128]:
values = my_dict.values()

In [129]:
values = list(values)

TypeError: 'list' object is not callable

# <font color='blue'> 2. 각 학생별로, 중간과 기말의 평균점수를 구하세요.

In [33]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

In [34]:
average1 = (student_details[0]['midterm'] + student_details[0]['final'])/2

In [35]:
average2 = (student_details[1]['midterm'] + student_details[1]['final'])/2

In [36]:
average3 = (student_details[2]['midterm'] + student_details[2]['final'])/2

In [37]:
average1

72.5

In [38]:
average2

79.0

In [39]:
average3

87.5

# <font color='blue'> 3. 위에서 구한 평균점수를,"AVERAGE" 라는 키를 새로 만들어서, 각 학생의 딕셔너리에 추가하세요.

In [58]:
student_details[0]['average'] = average1
student_details[1]['average'] = average2
student_details[2]['average'] = average3

In [59]:
student_details

[{'student_id': 1,
  'subject': 'math',
  'midterm': 60,
  'final': 85,
  'average': 72.5},
 {'student_id': 2,
  'subject': 'math',
  'midterm': 80,
  'final': 78,
  'average': 79.0},
 {'student_id': 3,
  'subject': 'math',
  'midterm': 90,
  'final': 85,
  'average': 87.5}]

# <font color='blue'> 4. 각각의 숫자를,  제곱한 값으로 바꾸세요.

In [105]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}

In [106]:


for i in range(0,3):
    

    a= dictionary['C1'][i] **2
    dictionary['C1'][i] = a

    
for i in range(0,3):
    b= dictionary['C2'][i] **2
    dictionary['C2'][i] = b
    

dictionary

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

In [ ]:
dictionary['C1'][0] = dictionary['C1'][0] **2 # =기호 써줄때는 항상 오른쪽부터 생각하기

# <font color='blue'>  5. (1)모든 키를 리스트로 출력하세요. (2) 모든 밸류를 리스트로 출력하세요. (3) 모든 밸류의 값을 다 더하세요.

In [68]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

In [85]:
list = []
list = [my_salary.keys()]

In [70]:
my_salary.values()

dict_values([25, 28, 30])

In [72]:
sum(my_salary.values())

83

In [86]:
list

[dict_keys(['alex', 'sally', 'dina'])]

# <font color='blue'>  6. 딕셔너리의 길이를 구하고, 나이를 오름차순으로 정렬하세요.

In [74]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}

In [75]:
len(my_dict)

5

In [96]:
sorted(my_dict.values())

[10, 22, 23, 44, 50]

# <font color='blue'> 7. 다음 코드를 실행해서 결과를 확인하세요. </font>

In [81]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True