# PYTHON PROGRAMMING

# 기온데이터 분석

### 1907년부터 2018년3월까지의 서울 기온 데이터를 CSV로 다운로드 한다.

### - 다운로드 파일을 미리 제공해서 폴더에 넣어두었습니다. seoul.csv 파일을 열어 보세요. encoding='cp949'

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [17]:
df = pd.read_csv('seoul.csv', encoding = 'cp949')

In [18]:
df

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-10-01  108     13.5      7.9     20.7
1      1907-10-02  108     16.2      7.9     22.0
2      1907-10-03  108     16.2     13.1     21.3
3      1907-10-04  108     16.5     11.2     22.0
4      1907-10-05  108     17.6     10.9     25.4
...           ...  ...      ...      ...      ...
39921  2018-03-24  108      7.6      4.0     13.1
39922  2018-03-25  108      9.6      4.6     16.9
39923  2018-03-26  108     11.0      5.3     18.1
39924  2018-03-27  108     13.3      7.7     20.0
39925  2018-03-28  108     14.0      9.4     19.0

[39926 rows x 5 columns]

## 실습 2. pandas 를 이용해서 가장 더운날을 찾아보세요.

In [23]:
df['최고기온(℃)'].max()

38.4

In [24]:
df['최고기온(℃)'] == df['최고기온(℃)'].max()

0        False
1        False
2        False
3        False
4        False
         ...
39921    False
39922    False
39923    False
39924    False
39925    False
Name: 최고기온(℃), Length: 39926, dtype: bool

In [25]:
df.loc[ df['최고기온(℃)'] == df['최고기온(℃)'].max(), ]

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
31277  1994-07-24  108     33.1     28.1     38.4

## 실습 3. 최고기온을 기준으로,  -20도부터 45도까지 4도씩 bins로 만들어서, 히스토그램으로 보여주세요.

In [26]:
df.shape

(39926, 5)

In [ ]:
bin_width = np.arange

# 실습 4.  2017-08-01 ~ 2017-08-15 사이의 날짜별로, 최고기온을 스케터로 나타내세요.

In [27]:
df.head()

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1907-10-01  108     13.5      7.9     20.7
1  1907-10-02  108     16.2      7.9     22.0
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
4  1907-10-05  108     17.6     10.9     25.4

In [28]:
df['날짜'] == '2017-08-01'

0        False
1        False
2        False
3        False
4        False
         ...
39921    False
39922    False
39923    False
39924    False
39925    False
Name: 날짜, Length: 39926, dtype: bool

In [29]:
df.loc[df['날짜'] =='2017-08-01' ,]

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
39686  2017-08-01  108     28.6     24.1     33.0

In [30]:
plt.scatter(data = df2, x = '날짜', y='최고기온(℃)')
plt.xticks(rotation = 45)
plt.show()

NameError: name 'df2' is not defined